body, html {
    margin: 0;
    padding: 0;
}

main{
    background-color: #F2F0FF;
}
header {
    background: ##F2F0FF;
    /*Mocht een verouderde browser geen gradients ondersteunen, dan valt de browser terug op de "effen" achtergrondkleur hierboven*/
    background: linear-gradient(129deg, #4B49E8 0%, #4B49E8 26%, #5722CD  100%);
    color: #ffffff;
    padding: 8px 0 120px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.header button {
    width: 250px;
    align-self: center;
    font-size: 14px;
    font-weight: 270px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #ED4385;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    padding: 20px 20px;
    margin: 28px 0;
}


.header-nav {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.header-nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    margin: 20px 35px;
    list-style: none; /* Verwijdert standaard opsommingstekens */
    padding: 0;
}

.header-nav-list a {
    text-decoration: none;
    color: #ffffff;
}



.info {
    font-size: 28px;
    color: #5722CD;
    text-align: center;
    padding: 100px;
    background-color: rgb(255, 255, 255);
}
.klik {
    font-size: 16px;
    flex-basis: auto;
    text-align: center; 
    background-color: #ffffff;
    padding: 20px 0 60px;
    color: #0C0C0C;

}

.klik a {
    text-decoration: none;
    color: #5722CD;
}

.rolling-stone-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F0FF;
    padding: 40px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
    margin: 20px auto;

}

.rolling-stone-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 40px ;
}

.rolling-stone-text img {
    width: 100%; 
    max-width: 60px; 
    height: auto; 
}

.rolling-stone-text p {
    margin-top: 40px;
}

.rolling-stone-text a {
    margin-top: 30px;
    text-decoration: none;
}

.rolling-stone-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 2;
    border-radius: 8px;
    box-shadow: 2px 14px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 20px 20px;
}




.variety-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #F2F0FF;
    padding: 40px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
    margin: 20px auto;

}

.variety-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 40px ;
}

.variety-text img {
    width: 100%; 
    max-width: 60px; 
    height: auto; 
}

.variety-text p {
    margin-top: 40px;
}

.variety-text a {
    margin-top: 30px;
    text-decoration: none;
}

.variety-img {
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-shrink: 2;
    border-radius: 8px;
    box-shadow: 2px 14px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 20px 20px;
}




.worth-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F0FF;
    padding: 40px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border: #000 solid 1px;

}

.worth-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 40px ;
}

.worth-text img {
    width: 100%; 
    max-width: 60px; 
    height: auto; 
}

.worth-text p {
    margin-top: 40px;
}

.worth-text a {
    margin-top: 30px;
    text-decoration: none;
}

.worth-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 2;
    border-radius: 8px;
    box-shadow: 2px 14px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 20px 20px;
}

.blokjes-wrapper {
    display: flex;
    justify-content: center; /* Centreert de blokken horizontaal */
    padding: 60px 0 60px;
    background-color: #ffffff;
}

.in-blokjes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* Zorgt ervoor dat de blokken in nieuwe rijen gaan als de ruimte vol is */
    gap: 40px; /* Zorgt voor gelijke afstand tussen de blokken */
}

.blokjes {
    /* De tegel moet in de basis 480px breed zijn */
    flex-basis: 384px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    border: 1px solid #5722CD;
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.1);
    color: #7A7A7A;
    font-size: 16px;
    height: 300px; /* Standaard hoogte voor de blokken, je kunt dit aanpassen afhankelijk van de gewenste grootte */
}

.blokjes img {
    width: 90px; /* Pictogram grootte aangepast */
    height: auto;
}

.blokjes h3 {
    font-size: 26px; /* Kleinere lettergrootte */
    color: #5722CD;
    margin-bottom: 6px; /* Minder ruimte onder de titel */
}

.blokjes p {
    font-size: 14px; /* Kleinere lettergrootte voor de tekst */
    color: #555;
    line-height: 1.5;
}


.contact {
    background: #4B49E8;
    /*Mocht een verouderde browser geen gradients ondersteunen, dan valt de browser terug op de "effen" achtergrondkleur hierboven*/
    background: linear-gradient(129deg, #4B49E8 0%, #4B49E8 26%, #5722CD  100%);
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contact-info-blokjes {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
}



label {
    display: block; /* Zorgt ervoor dat het label boven de input verschijnt */
    margin-top: 20px; /* Ruimte tussen het label en het inputveld */
    font-size: 16px; /* Pas eventueel de tekstgrootte aan */
    text-align: left; /* Zorg dat het label links blijft uitgelijnd */
}

#name {
    width: 700px;
    padding: 14px 14px 14px;
    border-radius: 4px;
    display: inline-block;    border: 1px solid #ccc;
    box-sizing: border-box;
}

#email {
    width: 700px;
    padding: 14px 14px 14px;
    border-radius: 4px;
    display: inline-block;    border: 1px solid #ccc;
    box-sizing: border-box;
}

#message {
    width: 700px;
    padding: 14px 14px 200px;
    border-radius: 4px;
    display: inline-block;    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-info-blokjes form {
    display: flex;
    flex-direction: column; /* Zorgt dat alle elementen onder elkaar staan */
    text-align: left;
    gap: 2px; /* Ruimte tussen velden en knop */
}

.contact-info-blokjes button {
    width: 180px;
    align-self: center;
    font-size: 14px;
    font-weight: 150px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #ED4385;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    padding: 20px 40px;
    margin: 28px 0;
}


footer {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 12px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
}