@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

h1 {
    font-family: 'Merriweather', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

main{
    background-color: #F2F0FF;
}


header {
    background: #ffffff;
    /*Mocht een verouderde browser geen gradients ondersteunen, dan valt de browser terug op de "effen" achtergrondkleur hierboven*/
    background: linear-gradient(129deg, #4B49E8 0%, #4B49E8 26%, #5722CD  100%);
    color: #ffffff;
    padding: 8px 0 -20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
}


.header-wrapper button {
    width: 250px;
    align-self: center;
    font-size: 14px;
    font-weight: 270px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #ED4385;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    padding: 20px 20px;
    margin: 14px 0 130px;
}


.header-nav {
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-bottom: 20px;
}

.header-nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    margin: 20px 35px;
    list-style: none; /* Verwijdert standaard opsommingstekens */
}

.header-nav-list a {
    text-decoration: none;
    color: #ffffff;
}


.header h1 {
    font-size: 32px;

}

.header p {
    font-size: 24px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Verspreid inhoud verticaal */
    height: 100%; /* Zorg dat de header-text de volledige hoogte neemt */
}


/* heb dit van NOVI gekopieerd heb zelf geen idee hoe het moet implementeren */
.images {
    display: flex;
    justify-content: center;
}


.info {
    font-size: 24px;
    color: #5722CD;
    text-align: center;
    padding: 100px;
    background-color: rgb(255, 255, 255);
}

.klik {
    font-size: 16px;
    font-family: Arial, sans-serif;
    flex-basis: auto;
    text-align: center; 
    background-color: #ffffff;
    padding: 20px 0 60px;
    color: #0C0C0C;
}

.klik a {
    text-decoration: none;
    color: #5722CD;
}

main a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.rolling-stone-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #F2F0FF;

}

.rolling-stone-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 40px ;
}

.rolling-stone-text img {
    width: 100%; 
    max-width: 60px; 
    height: auto; 
}

.rolling-stone-text p {
    margin-top: 40px;
    margin-bottom: 40px;
}
.view-project {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #5e45db; 
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block; /* Zorgt dat pseudo-element goed werkt */
}

.view-project::after {
    content: ""; /* Maak het lijntje zichtbaar */
    position: absolute;
    top: 50%; 
    margin-left: 10px;
    width: 20px; 
    height: 2px; 
    background-color: #5c3bfe; 
    transform: translateY(-50%); 
    transition: width 0.3s ease;
}

.view-project:hover::after {
    width: 50px; 
}


.rolling-stone-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 2;
    border-radius: 8px;
    box-shadow: 2px 14px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 20px 20px;
}

.variety-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #F2F0FF;
    padding: 40px;

}

.variety-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 40px ;
}

.variety-text img {
    width: 100%; 
    max-width: 60px; 
    height: auto; 
}

.variety-text p {
    margin-top: 40px;
}

.variety-text a {
    margin-top: 30px;
    text-decoration: none;
}

.variety-img {
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 2;
    border-radius: 8px;
    box-shadow: 2px 14px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 80px 20px;
}

.worth-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F0FF;
    padding: 40px 60px;

}

.worth-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 40px 40px ;
}

.worth-text img {
    width: 100%; 
    max-width: 60px; 
    height: auto; 
}

.worth-text p {
    margin-top: 40px;
}

.worth-text a {
    margin-top: 30px;
    text-decoration: none;
}

.worth-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 2;
    border-radius: 8px;
    box-shadow: 2px 14px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 20px 120px;
}

.blokjes-wrapper {
    display: flex;
    justify-content: center; 
    padding: 60px 0 60px;
    background-color: #ffffff;
}

.in-blokjes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* Zorgt ervoor dat de blokken in nieuwe rijen gaan als de ruimte vol is */
    gap: 40px; /* Zorgt voor gelijke afstand tussen de blokken */
}

.blokjes {
    flex-basis: 384px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    border: 1px solid #5722CD;
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.1);
    color: #7A7A7A;
    font-size: 16px;
    height: 300px; 
}

.blokjes img {
    width: 90px; 
    height: auto;
}

.blokjes h3 {
    font-size: 26px; 
    color: #5722CD;
    margin-bottom: 6px; 
}

.blokjes p {
    font-size: 14px; 
    color: #555;
    line-height: 1.5;
}


.contact {
    background: #4B49E8;
    /*Mocht een verouderde browser geen gradients ondersteunen, dan valt de browser terug op de "effen" achtergrondkleur hierboven*/
    background: linear-gradient(129deg, #4B49E8 0%, #4B49E8 26%, #5722CD  100%);
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contact-info-blokjes {
    display: flex;
    justify-content: center;
    width: 100%;;
    gap: 40px;
    padding: 20px 0;
}

label {
    display: block; 
    margin-top: 20px; 
    font-size: 16px; 
    text-align: left; 
}

#name {
    width: 700px;
    padding: 14px 14px 14px;
    border-radius: 4px;
    display: inline-block;    border: 1px solid #ccc;
    box-sizing: border-box;
}

#email {
    width: 700px;
    padding: 14px 14px 14px;
    border-radius: 4px;
    display: inline-block;    border: 1px solid #ccc;
    box-sizing: border-box;
}

#message {
    width: 700px;
    padding: 14px 14px 200px;
    border-radius: 4px;
    display: inline-block;    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-info-blokjes form {
    display: flex;
    flex-direction: column; 
    text-align: left;
    gap: 2px; 
}

.contact-info-blokjes button {
    width: 180px;
    align-self: center;
    font-size: 14px;
    font-weight: 150px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #ED4385;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    padding: 20px 40px;
    margin: 28px 0;
}

.contact-info h1 {
    font-size: 38px;

}
.contact-info p {
    font-size: 16px;

}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 12px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

/* moet even kijken naar dubbele code (clean code) */
@media (max-width: 768px) {
    .rolling-stone-content {
        flex-direction: column; /* Zorgt dat de inhoud onder elkaar staat op kleinere schermen */
        align-items: center;
    }

    .rolling-stone-img {
        width: 80%; /* Zorgt dat de afbeelding minder ruimte inneemt op kleine schermen */
    }

    .variety-content {
        flex-direction: column; /* Zorgt dat de inhoud onder elkaar staat op kleinere schermen */
        align-items: center;
    }

    .variety-img {
        width: 80%; /* Zorgt dat de afbeelding minder ruimte inneemt op kleine schermen */
    }

    .worth-content {
        flex-direction: column; /* Zorgt dat de inhoud onder elkaar staat op kleinere schermen */
        align-items: center;
    }

    .worth-img {
        width: 80%; /* Zorgt dat de afbeelding minder ruimte inneemt op kleine schermen */
    }
}


@media (max-width: 480px) {
    .rolling-stone-img img {
        width: 50%; /* Vul de breedte van de container op hele kleine schermen */
        max-width: 150px; /* Nog een kleinere limiet */
    }
}